@charset "utf-8";
/* CSS Document */
body{
    margin-top: 0%;
    background-color: #23272A ;
    color: white;
    max-width: 1920px;
    height: 100vh;
    margin: auto;
}

.quick-list-link:link{
    color: lightseagreen;
}

.quick-list-link:visited{
    color: blue;
}